/* Layout.css */
.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-logo a {
  text-decoration: none;
  font-size: 1.5em;
  color: #61dafb;
  font-weight: bold;
}

.header-nav {
  display: flex;
  gap: 15px;
}

.header-btn {
  background: none;
  border: 1px solid #000001;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.header-btn:hover {
  background: #61dafb;
  color: black;
}

.header-btn a {
  text-decoration: none;
  color: inherit;
}
