#########################################
# OS and Editor junk files
#########################################
.DS_Store
*.swp
*.bak
*.tmp
*.log
.byebug_history

#########################################
# Environment & Secrets
#########################################
.env
.env.*
/config/master.key

#########################################
# Rails Specific
#########################################
/log/*
!/log/.keep

/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
/tmp/pids/.keep

/tmp/storage/*
!/tmp/storage/
/tmp/storage/.keep

/storage/*
!/storage/.keep

/db/*.sqlite3
/db/*.sqlite3-journal

/public/assets
/vendor/bundle
/.bundle

#########################################
# Node / Quasar Specific
#########################################
/node_modules
/.pnp
.pnp.js
/dist
/build

#########################################
# Test and Coverage
#########################################
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
